.top-nav {
    background-color: #333;
    overflow: hidden;
    border-bottom: 1px solid #666;
    min-height: 52px;
}

.top-nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 18px 18px;
}